.projects-container {
    padding: 100px; /* Adds padding to the top and sides */
    min-height: 100vh;
}

.projects-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 50px;
    font-family: 'YourFontFamily', Consolas;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    animation: fadeIn 1s ease-in-out forwards;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; /* Space between items */
    grid-auto-rows: auto;
    margin: auto;
    align-items: start;
    row-gap: 100px;
    column-gap: 100px;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust for medium screens */
    }
}

@media (max-width: 480px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust for smaller screens */
    }
}