.card{
    width: 100% ;
    max-width: 900px ;
    margin: 20px auto !important;
}

.card:hover{
    box-shadow: 5px 10 px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-img-top {
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Maximum image width */
    max-height: 900px; /* Maximum image height */
    display: block;
    margin: 0 auto;
}

.card-skills{
    color: rgb(145, 123, 123);
}


.card-body{
    max-width: 1200px; 
}

.card-text{
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    max-width: 1200px; 
}

.container-fluid .row{
    padding-top: 6rem;
    max-width: 1200px; 
}

@media (max-width: 1200px) {
    .card {
        max-width: 100%; /* Full width on smaller screens */
    }
}